.profile-container {
  flex-grow: 2;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}

.profile-info {
  background-color: #E6F0E8;
  flex-direction: column;
  justify-content: space-around;
}

.observation-container {
  flex-grow: 3;
  display: flex;
  flex-direction: row;
}

.map {
  flex-grow: 1; 
}

.observation-info {
  flex-grow: 1;
}

.observation-container-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.observation-container-map {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
  