.profile-container {
  display: flex; 
  flex-direction: row;

}


.profile-info {
  flex-grow: 1;
}

.observation-info {
  flex-grow: 4;
}

.observation-container-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.observation-container-map {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.map {
  flex-grow: 4;
}
  