html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: Geneva, Verdana, Tahoma, sans-serif;
  margin: 0px;
  color: #484E6B;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
}

h4 {
  font-size: 1.5em;
  font-weight: 600;
}

p {
  font-size: 0.85em;
}

ul {
  columns: 100px 3;
}

.unearned {
  opacity: 0.2;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.home {
  background-color: #E6F0E8;
  display: flex;
  align-items: center;

}

.highlight-observation {
  background-color:  #E6F0E8;
}

.species-found {
  background-color:  #E6F0E8;
}

.modal {
  width: 98vw;
  height: 75vh;
  background-color: #E6CFC1;
}

.box-grid {
  display: inline-grid;
  grid-template-columns: auto auto;
}

.box-item1 {
  display: flex;
  justify-content:space-evenly;
  align-items: baseline;
}

.box-item2 {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.box-item3 {
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.box-item4 {
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.box-item5 {
  display: flex;
  justify-content:space-between;
  align-items: baseline;
}

.box-item6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  align-items:center;
}

.oneline {
  white-space: nowrap;
  overflow: hidden;
}

.outlined {
  border-radius: 25px;
  border: 2px solid #454A64;
}


.img-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

.background {
  background-color: #EEFFF1;
}



/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #EEFFF1;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

input[type="text"], input[type="password"], input[type="radio"], input[type="date"], select, textarea{ 
  background-color: #E6CFC1;
  color: #484E6B; 
}

.checkbox {
  background-color: #E6CFC1;
  color: #484E6B; 
}