.nav {
  /* flex box layout */
  display: flex;
  justify-content: flex-end;
  align-items: center;

  margin: 0 0 30px;
  background-color: #F1E3D3;
  overflow: hidden;
  height: 40px;
}



.navLink {
  display: inline-block;
  color: #454A64;
  background-color: #CCAFAB;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #EDD6D3;
}
